<app-sidebar [userName]="user?.name" [userRole]="'Merchant'">
  <ul class="nav-menu">
    <li class="nav-item">
      <a
        routerLink="/merchant/dashboard"
        routerLinkActive="active"
        class="nav-link"
        data-title="Dashboard"
      >
        <i class="bi bi-grid-1x2-fill"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/merchant/orders"
        routerLinkActive="active"
        class="nav-link"
        data-title="Orders"
      >
        <i class="bi bi-box-seam-fill"></i>
        <span>Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/merchant/reports"
        routerLinkActive="active"
        class="nav-link"
        data-title="Order Reports"
      >
        <i class="bi bi-bar-chart-fill"></i>
        <span>Order Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/merchant/profile"
        routerLinkActive="active"
        class="nav-link"
        data-title="Profile"
      >
        <i class="bi bi-person-fill"></i>
        <span>Profile</span>
      </a>
    </li>
  </ul>
</app-sidebar>
