<div class="container p-4 mt-5">
    <h1 class="text-center text-muted mb-3">
        {{branchId==0? "Add New Branch":"Edit Branch"}}
    </h1>
    <form [formGroup]="branchForm" (submit)="FormHandler()">
        <div class="mb-3">
            <label for="BranchName" class="form-label">Branch Name</label>
            <input type="text" class="form-control" id="BranchName" aria-describedby="emailHelp"
                placeholder="Enter Branch Name" formControlName="name" />
            @if(GetName.touched){
            @if(GetName.hasError('required')){
            <div id="emailHelp" class="form-text text-danger">
                Branch Name is required
            </div>
            }
            @if(GetName.hasError('minlength')){
            <div id="emailHelp" class="form-text text-danger">
                Branch Name length must be greater than 3
            </div>
            }
            }
        </div>
        @if (branchId!=0) {
            <div class="mb-3">
                <label for="CreationDate" class="form-label">Branch Creation Date</label>
                <input type="text" class="form-control" id="CreationDate" aria-describedby="emailHelp"
                    placeholder="Enter Branch CreationDate" formControlName="CreationDate" />
                @if(GetCreationDate.touched){
                @if(GetCreationDate.hasError('required')){
                <div id="emailHelp" class="form-text text-danger">
                    Branch CreationDate is required
                </div>
                }
                }
            </div>
        }
        <div class="mb-3">
            <label for="Location" class="form-label">Branch Location</label>
            <input type="text" class="form-control" id="Location" aria-describedby="emailHelp"
                placeholder="Enter Branch Location" formControlName="Location" />
            @if(GetLocation.touched){
            @if(GetLocation.hasError('required')){
            <div id="emailHelp" class="form-text text-danger">
                Branch Location is required
            </div>
            }
            }
        </div>
        <div class="mb-3">
            <label for="citySelect" class="form-label fw-bold">Select City</label>
            <select id="citySelect" class="form-select" formControlName="citySelect">
                <option selected disabled value="0">Choose City</option>
                @for (item of CityBranch?.data; track $index) {
                <option [value]="item.id">{{item.name}}</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-dark d-block w-25">
            {{branchId==0? "Add New Branch":"Edit Branch"}}
        </button>
    </form>
    <button  type="submit" (click)="Back()" class="btn btn-warning d-block w-25 mt-2">
        Back To List
    </button>
</div>