<div class="container">
    <h1 class="text-center text-muted mb-4">Governorates</h1>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary" routerLink="/governorates/0/edit">
            Add New Governorates
        </button>
        <input type="text" class="form-control w-25" placeholder="Search ...." [(ngModel)]="Search" (input)="SearchHandel(Search)" />
    </div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (gov of governorates?.data; track $index) {
            <tr>
                <th scope="row">{{gov.id}}</th>
                <th scope="row">{{gov.name}}</th>
                <td>
                    <div class="form-check ms-3">
                        <input class="form-check-input" type="checkbox"
                         [checked]="!gov.isDeleted"
                         (change)="isDeletHandler($event,gov)">
                    </div>
                </td>
                <td>
                    <i class="text-info fs-4 mx-2 bi bi-pencil-square" routerLink="/governorates/{{gov.id}}/edit"></i>
                    <i (click)="DeleteHandler(gov)" class="text-danger fs-4 mx-2 bi bi-trash-fill"></i>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <button (click)="ApplyPagination(PageIndex-1)" [disabled]="PageIndex<=1" class="btn btn-primary">
        Back
    </button>
    <button (click)="ApplyPagination(PageIndex+1)" [disabled]="" class="btn btn-primary m-3">
        Next
    </button>
</div>